


.div-img-login
{
  width: fit-content;
  margin:auto;
  // max-width: 40%;
  position:relative;
}

.btn-back-login
{
  background-color: transparent !important;
  font-size: 2rem;
  box-shadow: none;
  position: absolute;
  color: white !important;
  top: 10px;
  left: 0px;
  z-index: 10;
}

.img-login
{
  position:relative;
  z-index:1;
}

.div-form-login
{
  max-width: 730px;
  margin:-3rem auto 1rem auto !important;
  text-align: left;
  border: solid 2px lightgrey;
  padding: 3rem;
  border-radius: 30px;
  z-index: 2;
  background-color: white;
  position: relative;
}

.div-text-form-login
{
  width:100% !important;
  font-size:2rem;
  font-weight: bolder !important;
  margin-bottom:2rem;
  padding-left:16px;
}

.label
{
  font-size:1.5rem !important;
}

.item-inner
{
  margin:.5rem !important;
}

.btn-recover-pass a
{
  color:#9B9B9B !important;
}

a
{
  color:#9B9B9B !important;
}

.btn-send-form-login
{
  width: 90%;
  margin: 3rem auto 0 auto !important;
  font-size: 1.7rem;
  border-radius: 10px;
  height: 50px;
}

.btn-back-form
{
  width: 90%;
  margin: 3rem auto 0 auto !important;
  background-color:transparent !important;
  font-size: 2rem;
  border-radius: 10px;
  height: 50px;
  color:#9B9B9B !important;
}
