.div-img-login
{
  width: fit-content;
  margin:auto;
  position:relative;
}

.btn-back-login
{
  background-color: transparent !important;
  font-size: 2rem;
  box-shadow: none;
  position: absolute;
  color: white !important;
  top: 10px;
  left: 0px;
  z-index: 10;
}

.img-login
{
  position:relative;
  z-index:1;
}

.div-form-login
{
  max-width: 522px;
  margin:-31px auto 0 auto !important;
  text-align: left;
  border: solid 2px lightgrey;
  border-radius: 30px;
  z-index: 2;
  background-color: white;
  position: relative;
}

.form-login
{
  padding-top:5px;
  padding-left:22px;
}

.form-login-pass .item-inner
{
  padding-top:0 !important;
}


.div-text-form-login
{
  width:80% !important;
  font-size:22px;
  color:#01002F;
  padding:31px 0 0 43px;
  margin-bottom:10px;
  font-family: LatoBold;
}

.label
{
  font-size:16px !important;
}

.item-inner
{
  margin:.5rem !important;
}

.btn-recover-pass a
{
  margin-top:8px;
  padding-left:30px !important;
  color:#9B9B9B !important;
}

a
{
  color:#9B9B9B !important;
}

.btn-send-form-login
{
  width: calc(100% - 68px);
  margin: 22px 46px 22px 22px;
  font-size: 1.7rem;
  border-radius: 10px;
  height: 50px;
}

.btn-back-form
{
  width: 90%;
  margin: 3rem auto 0 auto !important;
  background-color:transparent !important;
  font-size: 2rem;
  border-radius: 10px;
  height: 50px;
  color:#9B9B9B !important;
}
