.title-register
{
  margin:auto 26px auto 0;
  font-size:22px;
  color:#01002F;
}

.content-register
{
  max-width: 730px;
  margin: auto;
}

.btn-back-register
{
  background-color: transparent !important;
  color: black;
  font-size: 2rem;
  box-shadow: none;
  // padding:1.6rem;
  width:46px;
}

.div-form-register
{
  margin:0 auto;
  text-align: left;
  padding: 15px 0px;
  border-radius: 40px;
  position: relative;
}

.div-text-form-register
{
  margin: 51px auto 0rem auto;
  display: flex;
  font-size:22px;
  font-family: 'LatoBold';
}

.label
{
  font-size:16px !important;
}

.checkbox .checkbox-ios
{
  position:relative;
}

.item-checkbox-button .item-inner
{
  padding-top: 0 !important;
}

.item-checkbox-button .item-inner a
{
  color:#575C71;
}

.item-inner
{
  padding-top:26.5px;
  margin:0 !important;
}

.item.item-md .checkbox-md
{
  margin: 9px 0px 9px 4px;
}

.form-login .item-ios
{
  padding-left:0 !important;
}

.form-login .item .item-inner
{
  padding-top:32px;
}

.btn-recover-pass a
{
  color:#575C71 !important;
  font-size:2rem !important;
}

a
{
  color:#575C71 !important;
}

.btn-send-form-register
{
  width: calc(100% - 42px);
  margin: 122px 42px 31px 0px;
  font-size: 18px;
  border-radius: 8px;
  height: 45px;
}
