.title-register
{
  margin:auto 0;
  width:80%;
}

.content-register
{
  max-width: 730px;
  margin: auto;
}

.btn-back-register
{
  background-color: transparent !important;
  color: black;
  font-size: 2rem;
  box-shadow: none;
  padding:1.6rem;
}

.div-form-register
{
  // width: 40%;
  margin:1rem auto;
  text-align: left;
  // border: solid 2px lightgrey;
  padding: 2rem 2rem;
  border-radius: 40px;
  position: relative;
}

.div-text-form-register
{
  // width: 40%;
  margin: 4rem auto 3rem auto;
  display: flex;
  font-size:2rem;
}


.label
{
  font-size:1.5rem !important;
}

.item-inner
{
  margin:1rem !important;
}

.item.item-md .checkbox-md
{
  margin: 9px 0px 9px 4px;
}

.btn-recover-pass a
{
  color:#9B9B9B !important;
  font-size:2rem !important;
}

a
{
  color:#9B9B9B !important;
}

.btn-send-form-register
{
  width: 90%;
  margin: 5rem auto;
  font-size: 1.8rem;
  border-radius: 10px;
  height: 50px;
}
