.div-msg-top-paseo
{
  background:#B495FA;
  color:white;
  font-family: LatoReg;
  font-size:14px;
  padding:14px 35px 4px 28px;
  text-align: center;
  position:absolute;
  top:0;
  right:0;
  width:100%;
  z-index:10;
}

.div-text-msg-top-paseo
{
  max-width:500px;
  margin:auto;
}

.btn-entendido-add-paseo
{
  background:#B495FA;
  color:white;
  font-family: LatoReg;
  font-size:14px;
  width:142px;
  height: 30px;
  margin:13px auto 9px auto;
  border-radius: 8px;
  border:solid 1px white;
}

.btn-back-paseo
{
  background: transparent;
  border: none;
  box-shadow: none;
}

.btn-back-close-paseo
{
  position: absolute;
  top: 0;
  right: 0;
  font-size:20px;
  background: transparent;
  border: none;
  box-shadow: none;
}

.div-content-add-paseo
{
  padding:0px 15px 28px 14px;
  // max-width: 375px;
  width:fit-content;
  margin: auto;
}

.div-title-add-paseo
{
  font-size:18px;
  font-family:LatoBold;
  color:#01002F;
  margin-top:25px;
}

.div-subtitle-add-paseo
{
  color:#8EA9B2;
  font-size: 14px;
  margin: 5px 0 15px 0;
}

.form-add-paseo
{
  width:fit-content;
  margin:auto;
  max-width:calc(100vw - 29px);
}

.div-grid-img-pets
{
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px;
  grid-column-gap: 19px;
  width:fit-content;
  margin:auto;
}

.div-img-pets
{
  position: relative;
  width: 60px;
  text-align: center;
}

.img-pet-selected
{
  position:absolute;
  top:0;
  right:0;
}

.img-pet
{
  width: 60px;
  height: 60px;
}

.btn-add-pet-add-paseo
{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px dashed #8EA9B2;
  background: transparent;
  margin-bottom:2px;
  font-size: 30px;
}

.icon-plus-add-petr
{
  color: #8EA9B2;
}

.div-txt-img-pets
{
  font-family: LatoReg;
  font-size:12px;
}

.item-add-pet .item .item-block .item-ios .item-select
{
  padding-left:0 !important;
  // width:345px;
  width:100%;
}

.item-add-pet .item-inner
{
  padding-right:0 !important;
}


.div-btn-days
{
  margin:14px 15px 0 0;
  display:grid;
  width:100%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 13px;
}

.btn-opc-day
{
  background: transparent;
  height: 45px;
  color:#01002F;
  font-size:14px;
  font-family: LatoBold;
  border-radius: 6px;
  display:flex;
}

.btn-day-week
{
  background: transparent;
  height: 52px;
  color:#01002F;
  font-size:14px;
  font-family: LatoBold;
  border-radius: 6px;
  white-space: nowrap;
  // margin-bottom:7px;
  padding-bottom:9px;
}

.img-day-opc-check
{
  margin:0 16px 0 11px;
  width:16px;
  height: 16px;
}

.text-opc
{
  margin:auto 0;
  font-size:14px;
}

.div-border-select
{
  margin:0 16px 0 11px;
  width:16px;
  height: 16px;
  border:solid 1px #D2DFE3;
  border-radius: 100%;
}

.div-day
{
  margin:5px auto 7px auto;
}

.div-border-select-day
{
  margin:auto;
  width:16px;
  height: 16px;
  border:solid 1px #D2DFE3;
  border-radius: 100%;
}

.div-days-week
{
  margin-top:14px;
  display:grid;
  grid-template-columns: 44px 44px 44px 44px 44px 44px 44px;
  grid-column-gap: 6px;
  font-size:12px;
  font-family: LatoBold;
}

.div-text-repeat-week
{
  margin: auto 5px auto 0px;
}

.text-repeat-week
{
  margin: auto 4px auto 0;
  font-size:12px;
}

.div-repeat-week
{
  margin-top:7px;
}

.btn-repeat-week
{
  background: transparent;
}

.img-quest-repeat-week
{
  margin-top:3px;
}

.div-prices-day
{
  background-color: #FFF7E6;
  color:#E3A329;
  font-size:12px;
  font-family:LatoReg;
  padding:7px 15px 9px 11px;
  margin:8px 0 0 0;
  border-radius: 6px;
}

.div-price-day
{
  display:flex;
  justify-content: space-between;
}

.btns-inicio-paseo
{
  margin:28px 0 0 0px;
}

.btn-inicio-paseo
{
  display: flex;
  justify-content: space-between;
  color:#01002F;
  border:solid 1px #D9E8ED;
  border-radius: 6px;
  margin-bottom:10px;
  width:100%;
  height: 45px;
  font-size:16px;
  font-family:LatoReg;
  padding-left:15px;
  background:transparent;
}

.btn-inicio-paseo-icon
{
  margin-right:10px;
  color:#8EA9B2;
}

.div-comentario
{
  margin: 0 0px 24px 0;
}

.text-area-comentario
{
  margin:10px 0 0 0px;
  width:100%;
  height: 76px;
  border:solid 1px #D9E8ED;
  border-radius: 6px;
  padding:11px;
  resize: none;
}

.div-text-type-pay
{
  margin: auto 5px auto 8px;
}

.text-type-pay
{
  font-size:17px;
  margin-right:4px;
}

.img-quest-type-pay
{
  margin-top:4px;
}

.div-btn-programar-paseo
{
  text-align: center;
}

.btn-programar
{
  width:275px !important;
  height: 45px;
  width: fit-content;
  background-color: #0099F2;
  font-size: 18px;
  font-family: LatoBold;
  border:none;
  border-radius: 8px;
  margin:24px auto 28px auto;
  color:white;
}
