.div-msg-top-paseo
{
  background:#B495FA;
  color:white;
  font-family: LatoReg;
  font-size:14px;
  padding:14px 35px 4px 28px;
  text-align: center;
  position:absolute;
  top:0;
  z-index:10;
}

.btn-entendido-add-paseo
{
  background:#B495FA;
  color:white;
  font-family: LatoReg;
  font-size:14px;
  width:142px;
  height: 30px;
  margin:13px auto 9px auto;
  border-radius: 8px;
  border:solid 1px white;
}

.btn-back-close-paseo
{
  position: absolute;
  top: 0;
  right: 0;
  font-size:20px;
}
