.container-modal-error-saldo
{
    margin:21px 20px 21px 24px;
    text-align: left;
}

.title-error-saldo
{
    font-size:20px;
    color:#000000;
    margin-bottom:15px;   
}

.text-error-saldo
{
    color:#0000008A;    
}

.btn-aceptar-error-saldo
{
    color:#0099F2;
}
