.container-home
{
  position: relative;
  max-width: 730px;
  margin:auto;
  min-height: 100vh;
  color: #52628C;
  background-color: white;
  text-align:center;
  font-weight: bolder;
}

.div-text-home
{
  margin:5rem auto;
  font-size:2rem;
  font-weight: bolder;
}

.div-btn-home
{
  min-height: 120px;
  position: relative;
  margin: 2rem auto;
  text-align: left;
  padding: 2rem;
  width: 90%;
  border-radius: 10px;
}

.div-btn-home-opc
{
  position: relative;
  margin: 1rem auto;
  text-align: left;
  padding: 1rem;
  width: 90%;
  border-radius: 10px;
}

.div-btn-paseo
{
  background-color:#89D1F9;
  color:#4C88BA;
}

.div-btn-planes
{
  background-color:#FBE4A7;
}

.div-img-btn
{
  position: absolute;
  bottom: 0;
  right: -5px;
  width: 40%;
}

.title-btn
{
  font-size: 2rem;
  margin: .5rem 0;
  color: #5B7C9D;
}

.text-btn
{
  // margin:2rem;
  font-size: 1.5rem;
  color: #4C88BA;
  font-weight: normal;
  width:70%;
}

.div-img-btn
{
  position:absolute;
  text-align: right;
  margin-bottom: -3px;
}

.img-btn
{
  max-height: 120px;
}

.img-btn-paseo
{
  // width: 50%;
  margin-right: 13%;
}

.title-btn-opc
{
  margin:2rem 0;
  font-size:2rem;
  color:#475A7F
}

.text-btn-opc
{
  color:#D8D8D8;
  margin:2rem 0;
  font-size:2rem;
}
