page-home
{
  
}

.container-home
{
  position: relative;
  margin:20px 20px 7px 20px;  
  color: #395A97;
  background-color: white;
  text-align:center;  
}

.title-recorrido
{
  margin:25px auto 14px auto;
  color:#01002F;
  font-size:18px;
  text-align: left;
}

.div-content-recorrido
{
  margin-bottom:22px;
  border:solid 1px #D9E8ED;
  border-radius: 6px;
  padding:8px;
  text-align: left;
}

.div-text-mascota-recorrido
{
  margin-left:10px;
}

.div-mascota-recorrido
{
  display: flex;  
}

.img-mascota-recorrido
{
  width: 68px;
  height: 68px;
  display:flex;
}

.item-estado-mascota-recorrido
{
  display:flex;
  color:#575C71;
  font-size:12px;
  margin:3px 0;
}

.div-estado
{
  color:#B495FA;  
}

.item-nombre-mascota-recorrido
{
  font-family:LatoSemiBold;
  font-size:14px;
}

.div-valor-estado
{
  display: flex;
  border: solid 1px #B495FA;
  border-radius: 4px;
  margin-left:4px;
  padding:1px 2px;
}

.div-text-home
{
  margin: 0px auto 24px 0px;
  font-size:20px;
  font-family: LatoBold;
}

.txt-home
{
  text-align: left;
  color:#01002F;
  font-size:18px;
  font-family: LatoBold;
}

.div-btn-home
{
  // min-height: 120px;
  height: 103px;
  position: relative;
  margin: 0 auto 16px auto;
  text-align: left;
  width: 335px;
  border-radius: 6px;
  border: solid transparent 1px;
  color: #575C71;
}

.btn-home-arrow-fwd
{
  position: absolute;
  right: 15px;
  top: 40px;
}

.btn-home-arrow-fwd ion-icon
{
  font-size:20px;
  color:#575C71;
}

.div-btn-home-opc
{
  position: relative;
  margin: 23px auto 14px 0px;
  text-align: left;
}

.div-btn-paseo
{
  background-color:#9CD6FA;
  color:#4C88BA;
  background-image: url('../../assets/imgs/banner1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.div-btn-planes
{
  background-color: #FFE7B9;
  background-size: cover;
  background-image: url('../../assets/imgs/banner2.png');
  background-repeat: no-repeat;
}

// .div-img-btn
// {
//   position: absolute;
//   bottom: 0;
//   right: -5px;
//   width: 40%;
// }

.title-btn
{
  font-size: 18px;
  font-family: LatoBold;
  margin: 20px auto 4px 15px;
  color: #575C71;
}

.text-btn
{
  margin-left:15px;
  font-size: 14px;
  font-family: LatoReg;
  color: #395A97;
  width:70%;
}

// .div-img-btn
// {
//   position:absolute;
//   text-align: right;
//   margin-bottom: -3px;
// }

.img-btn
{
  max-height: 120px;
}

.img-btn-paseo
{
  // width: 50%;
  margin-right: 13%;
}

.div-title-btn-opc
{
  display:flex;
  justify-content: space-between;
}

.title-btn-opc
{
  // margin:2rem 0;
  font-size:20px;
  color:#475A7F;
  font-family:LatoBold;
}

.title-btn-ver-todos
{
  color:#575C71;
  font-size: 14px;
  text-decoration: underline;
  font-family: LatoReg;
  margin:auto 0;
}

.text-btn-opc
{
  color:#D8D8D8;
  margin:15px 0 0 0;
  font-size:14px;
  font-family:LatoBold;
}

page-home
{
  .div-container-paseos
  {
    width:100%;
    // display:flex;
    // border:solid 1px #D9E8ED;
    // border-radius:6px;    
  }

  .div-paseo
  {
    width:100%;
    display:flex;
    border:solid 1px #D9E8ED;
    border-radius:6px;    
    position:relative;
    margin-bottom:10px;
  }

  .div-img-paseo
  {
    position:relative;
    width:70px;
    height: 60px;
    margin:9px 10px 10px 7px;
  }

  .div-img-paseo-simple
  {
    position:relative;
    width:70px;
    height: 60px;
    margin:9px 10px 10px 10px;
  }


  .img-mascota-paseo-simple
  {
    border:solid 1px #D2DFE3;
    border-radius:100%;    
    width: 60px;
  }

  .img-mascota-paseo-doble
  {
    position:absolute;
    border:solid 1px #D2DFE3;    
    border-radius:100%;    
  }

  .pet-uno
  {
    width:44px;
    height: 43px;
    top:0;
    left:0;
  }

  .pet-dos
  {
    width:44px;
    height: 43px;
    bottom:0;
    right:0;
  }

  .div-mas-mascotas
  {
    width: 25px;
    height: 25px;
    background: #0099F2;
    border:solid 1px #D2DFE3;
    border-radius: 100%;
    color:white;
    position: absolute;
    bottom:0;
    left:8px;
    z-index: 1;
    font-size:10px;
  }

  .text-mas-mascotas
  {
    margin:3px;
  }

  .div-text-mascota-paseo
  {
    font-size:12px;
    color:#575C71;
    text-align: left;
    margin:auto 0;
    height: fit-content;
  }

  .div-nombre-mascota
  {
    font-size:14px;
    font-family:LatoBold;    
  }

  .div-estado
  {
    display:flex;
    margin-left:2px;
  }

  .nombre-estado
  {
    margin-left:2px;
  }

  .div-img-recorrido
  {
    margin:17px 0px 6px   0px;
  }

  .div-paseador-recorrido
  {
    display: flex;    
  }

  .div-img-paseador
  {
    width:45px;
    height: 45px;
  }

  .div-img-calif
  {
    width:11px;
    height: 11px;
  }

  .div-datos-paseador
  {
    flex-grow: 1;
    text-align: left;
    height: fit-content;
    margin: auto 0 auto 7px;
  }

  .div-nombre-calif
  {
    display:flex;
    font-family: LatoSemiBold;
    color:#575C71;
    font-size:14px;
    flex-grow: 1;
  }

  .calif-paseador
  {
    font-family: LatoBold;
    margin:0 2px 0 4px;
  }

  .btn-ver-perfil-paseador
  {
    background:none;
    font-size:12px;
    color:#0099F2;
    border:none;
    padding:0;    
  }

  .btn-ver
  {
    background:#0099F2;
    color:white;
    font-size:16px;
    width: 79px;
    height: 35px;
    border-radius: 8px;
  }

  .item-dato-mascota
  {
    margin-top:3px;
  }

  .div-btn-paseo-arrow-fwd
  {
    position: absolute;
    right: 15px;
    top: 33px;
  }

  .div-btn-paseo-arrow-fwd ion-icon
  {
    font-size:20px;
    color:#D9E8ED;
  }

  .div-footer
  {
    border-top:solid 1px #F2F2F2;
    display:flex;
    color:#575C71;
    font-size:10px;
    justify-content: space-between;
    padding:8px 28px;
    margin-top:32px;
  }

  .img-footer
  {
    width:29px;
    height: 27px;
    margin:auto;
  }
} 
