.div-container-ayuda
{
  margin:24px 0 30px 14px;
}

.title-ayuda
{
  font-size:18px;
  font-family:LatoBold;
  color:black;
}

.text-ayuda
{
  font-size:16px;
  font-family: LatoReg;
  color:black;
  margin:30px 13px 25px 8px;
}

.footer-text
{
  color:#0099F2;
  font-family: LatoReg;
  font-size:16px;
  margin-left:8px;
}
