
// modal-wrapper {
//   position: absolute;
//   width: 100%;
//   height: 100%;
// }

// @media not all and (min-height: 600px) and (min-width: 768px) {
//   ion-modal ion-backdrop {
//     visibility: hidden;
//   }
// }

// @media only screen and (min-height: 0px) and (min-width: 0px) {
//   .modal-wrapper {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }
// }

// http://ionicframework.com/docs/theming/

// *
// {
//   font-family: 'Lato', sans-serif;
// }

@font-face
{
  font-family: 'LatoBold';
  src: url('../assets/fonts/Lato/Lato-Bold.ttf');
}

@font-face
{
  font-family: 'LatoSemiBold';
  src: url('../assets/fonts/Lato/Lato-Black.ttf')
}

@font-face
{
  font-family: 'LatoReg';
  src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face
{
  font-family: 'RobotoReg';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

// GENERAL

*
{
  font-family:LatoReg;
}

.flex
{
  display:flex;
}

// NAVBAR

.button-ios
{
  // background:transparent !important;
  background-color: #0099F2 !important;
}

.btn-send-form-login .button-ios
{
  background-color: #0099F2 !important;
}

// .btn-send-form-login .disable-hover button .button-ios .button-default .button-default-ios .button-block .button-block-ios
// {
//   background-color: #0099F2 !important;
// }

ion-navbar.toolbar
{
  height:80px;
}

.toolbar-background-md {
  border-color: #0099F2 !important;
  background: #0099F2 !important;
  color:white;
}

.header-ios .toolbar-background-ios,
.footer-ios .toolbar-background-ios
{
  border-color: #0099F2 !important;
  background: #0099F2 !important;
  color:white !important;
}

.title-add-mascota .toolbar-title-ios
{
  margin-left:15px !important;
}

.title-add-pasep .toolbar-title-ios
{
  margin-left:75px !important;
}

.item-add-pet-input .text-input-ios
{
  padding-left:15px;
}

.toolbar-title-ios
{
  text-align: left !important;
  font-size: 20px !important;
  font-family: RobotoReg !important;
  color: white !important;
  margin-left: 75px !important;
}

.toolbar-ios ion-title
{
  padding:0 !important;
}

.bar-button-menutoggle-ios
{
  margin: 0 0 0 19px;
}

.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default
{
  color:white !important;
}
.toolbar-content-md
{
  display: flex !important;
}

.toolbar-title-md
{
  color:white !important;
  font-size: 2rem;
  margin:1rem 0;
  // width: 80%;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
  color:white;
  font-size: 3rem !important;
  margin:2rem auto;
}

// ITEMS FORMS

.item-ios.item-block .item-inner
{
  padding-right:0 !important;
}

.form-login .item-inner
{
  border:none !important;
  margin: 0rem 38px 0 0rem!important;
}

.form-add-pet .item-inner
{
  border:none !important;
}

.form-add-paseo .item-inner
{
  border:none !important;
}

.form-login-pass .item-inner
{
  border:none !important;
  margin: 0rem 1rem 0 1rem !important;
}

.form-login-pass .item-inner .input-wrapper
{
  padding-top:0px;
}

.item-ios
{
  padding-left:0 !important;
}

.form.login-pass .item-ios
{
  padding-left:0 !important;
}

.form.login .item-ios
{
  padding-left:0 !important;
}

.item-md
{
  padding-left:0 !important;
}

.item-input ion-input, .item-input ion-textarea {
  position: static;
  border: solid 1px #D9E8ED;
  border-radius: 8px;
}

.item-add-pet-input .item-input ion-input, .item-input ion-textarea
{
  padding-left:15px;
}

.item-input ion-label
{
  max-width: unset !important;
  color: #575C71;
  position: absolute;
  bottom:40px;
  font-size:16px;
  font-family: LatoReg;
}

// SELECT FORMS

ion-select
{
  max-width: 95% !important;
  width: 100% !important;
}

.select-ios .select-placeholder {
  color: #01002F;
  font-family:LatoReg;
}

.select .select-placeholder {
  color: #01002F;
  font-family:LatoReg;
}

// PLACEHOLDER FORMS

.input-placeholder
{
  color:#01002F;
  font-family:LatoReg;
}

.datetime-ios .datetime-placeholder {
  color: #01002F;
  font-family:LatoReg;
}

.text-input::-moz-placeholder {
  color: #01002F;
  font-family:LatoReg;
}

.text-input:-ms-input-placeholder {
  color: #01002F;
  font-family:LatoReg;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: #01002F;
  font-family:LatoReg;
}


// WELCOME PAGE

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  left: 0;
  bottom:170px;
  width: 100%;
}

// REGISTER

.checkbox-ios .checkbox-icon
{
  border-radius: 4px !important;
}

// NAVBAR

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* NGX Datatable CSS */
@import '~assets/styles/ngx-datatable/_index.css';
@import '~assets/styles/ngx-datatable/_dark.css';
@import '~assets/styles/ngx-datatable/_material.css';
@import '~assets/styles/ngx-datatable/_bootstrap.css';
@import '~assets/styles/ngx-datatable/_icons.css'
