page-modal-confirmar-paseo {
    .container-modal
    {
        opacity: 1 !important;
    }

    .div-img-modal-ok-pasep
    {
        margin:115px auto 50px auto;        
        width:160px;
        height: 160px;
    }

    .div-text-modal-ok-paseo
    {
        font-size:16px;
        color:#05052C;
        width: 325px;
        margin:auto;
        text-align: center;  
    }

    .btn-modal-add-pet-listo
    {
        margin:35px auto 100px auto;
    }
}
