.div-btn-saltar
{
  position:relative;
  z-index: 1000;
}

.btn-saltar
{
  position:absolute;
  top:35px;
  right:17px;
  font-size:16px;
  background-color: transparent;
  font-family: LatoReg;
  color:#575C71;
}

.div-slide
{
  margin-top:54px;
}

.title-slide
{
  color: #0099F2;
  font-size: 24px;
  margin: 43px auto 16px auto;
  font-family: LatoBold;
}

.text-slide
{
  font-size: 16px;
  color: #575C71;
  width: 80%;
  margin: auto;
  margin-bottom:5rem;
  height: 93px;
}

.img-slide
{
  width:327px;
  height: 307px;
}

.bold
{
  font-weight: bolder;
}

.btn-start
{
  width: 80%;
  margin: 7rem auto 5rem auto;
  font-size: 2rem;
  border-radius: 10px;
  height: 60px;
}
