.div-btn-saltar
{
  position:relative;
}

.btn-saltar
{
  position:absolute;
  top:30px;
  right:40px;
  font-size:2rem;
  background-color: transparent;
}

.div-slide
{
  margin-top:10rem;
}

.title-slide
{
  color: #3C92D9;
  font-size: 3rem;
  margin: 4rem auto 3rem auto;
}

.text-slide
{
  font-size: 2rem;
  color: grey;
  width: 80%;
  margin: auto;
  margin-bottom:5rem;
}

.img-slide
{
  height: 400px !important;
}

.bold
{
  font-weight: bolder;
}

.btn-start
{
  width: 80%;
  margin: 7rem auto 5rem auto;
  font-size: 2rem;
  border-radius: 10px;
  height: 60px;
}
