page-add-form
{
  position: relative;
}

.container-add
{
  max-width:730px;
  margin:auto;
  font-size:1rem;
}

.title-add
{
  text-align: left;
  font-size: 2rem;
  margin: 4rem 0 2rem 22px;
  width: 90%;
}

.btn-back-close
{
  background-color: transparent !important;
  color: white;
  font-size: 2rem;
  box-shadow: none;
  // width: 20%;
  float: right;
  margin: auto;
}

.div-btns-foto
{
  margin-top:2rem;
  color:#999999;
}

.btn-galeria
{
  float: left;
  border: solid #999999 2px;
  padding: 2rem;
  border-radius: 10px;
  margin: 4rem 0;
  color:#999999;
  width:48%;
}

.icon-foto
{
  color:#999999;
  margin-left:2rem;
}

.btn-send-form
{
  margin: 5rem auto !important;
  height: 50px !important;
  font-size: 2rem !important;
  width: 80%;
  border-radius: 10px;

}
