.item-add-pet-input .input-wrapper .item-input ion-input .item-input ion-textarea
{
  padding-left:15px !important;
}

.item-add-pet .input-wrapper
{
  border: solid 1px #D9E8ED;
  border-radius: 6px;
}

.container-add
{
  max-width:730px;
  margin:auto;
  font-size:1rem;
}

.form-add-pet
{
  margin: auto 15px auto 15px;
}

.title-add
{
  text-align: left;
  font-size: 18px;
  font-family: LatoBold;
  margin: 25px auto 0px 14px;
}

.btn-back-close
{
  background-color: transparent !important;
  color: white;
  font-size: 2rem;
  box-shadow: none;
  // width: 20%;
  float: right;
  margin: auto;
}

.btn-back-close ion-icon
{
  font-size:30px;
  font-weight: bolder;
}

.div-fecha
{
  position:relative;
  width:80%;
}

.icon-calendar
{
  width: auto;
  height: 25px;
  position: absolute;
  top: 34px;
  right: 12px;
}

.div-btns-foto
{
  font-family:LatoBold;
  font-size:18px;
  // margin-top:10px;
  color:#01002F;
}

.placeholder-black .text-input-ios
{
  padding: 0 0 0 15px !important;
}

.item-btn .item-inner
{
  padding-right:0px !important;
}

.item-btn .item-inner .input-wrapper .label-ios
{
  margin:0px 7px 0px 0px !important;
}

.btn-galeria
{
  float: left;
  border: solid 1px #D9E8ED;
  padding: 22px 0;
  text-align: center;
  border-radius: 6px;
  margin: 12px 0;
  color:#01002F;
  width:48%;
  font-family: LatoReg;
}

.icon-foto
{
  color:#999999;
  margin-left:2rem;
}

.btn-send-form
{
  margin: 150px auto 34px auto !important;
  height: 45px !important;
  font-size: 18px !important;
  // width: 80%;
  width:275px;
  border-radius: 10px;

}
