@font-face 
{
    font-family: "LatoReg";
    src: url('./fonts/Lato/Lato-Regular.ttf');
}

@font-face 
{
    font-family: "LatoSemibold";
    src: url('./fonts/Lato/Lato-Semibold.ttf');
}

@font-face 
{
    font-family: "LatoBold";
    src: url('./fonts/Lato/Lato-Bold.ttf');
}

*
{
    margin: 0;
    padding: 0;
    font-family: LatoReg;
}

img
{
    width: 100%;
}

.flex
{
    display: flex;
}

.bold
{
    font-family: LatoBold;
}

.semibold
{
    font-family: LatoSemibold;
}

.div-container-mail
{
    width: 600px;
    margin: auto;
    position: relative;
    border: solid 1px lightgrey;
}

.header
{
    width: 100%;
}

.div-logo   
{
    width: 270px;
    height: 96px;
    z-index: 10;
    position: absolute;
    margin: 0 auto;
    left: 27%;
}

.div-img-portada
{    
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.img-portada
{
    /* width: 100%; */
    border-radius: 0px 0px 50px 50px;
}

.content-mail
{
    margin: 38px 67px 60px 50px;
    color: #05052C;
}

.title-mail
{
    font-size: 24px;
}

.noticia
{
    font-size: 18px;
    margin-top: 18px;
}

.div-opciones
{
    margin-top: 45px;
}

.item-opcion
{
    margin-bottom: 35px;
}

.div-opc-img
{
    width: 70%;
}

.div-opc-texto
{
    margin-left: 15px
}

.div-precio-title
{
    margin-bottom: 10px;
    font-size: 16px;
}

.opc-precio
{
    color:#00A0FF;
    margin-left: 5px;
}

.div-descripcion
{
    color: #575C71;
    font-size: 14px;
}

.pre-footer
{
    text-align: center;
}

.title-prefooter
{
    font-size: 22px;
   
}

.btn-prefooter
{
    width: 283px;
    height: 46px;
    background-color: #FFC240;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 25px;
}

.div-content-footer
{
    border-top: solid 1px #E7EFF2;
    width: 100%;
}

.div-footer
{
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
}

.text-footer
{
    font-size: 16px;
    color: #484848;
    height: fit-content;
    margin: auto 10px;
}

.div-redes
{
    height: 28px;
    margin: auto 0;
}

.div-icon-footer
{
    width: 27px;
    height: 28px;
    margin: auto 2px;
}

.div-footer-text
{
    background:#0099F2;    
    text-align: center;
    width: 100%;
    height: 39px;
    display: flex;
    margin-top: 20px;
}

.footer-text
{
    color: white;
    font-size: 12px;
    height: fit-content;
    margin: auto;
}